APP_NAME=skeleton
APP_ENV=dev

DB_DRIVER=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=hyperf_db
DB_USERNAME=hyperf
DB_PASSWORD=hyperf
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_DATABASE=hyperf_events

REDIS_HOST=redis
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0